html * {
  outline: none !important;
}

body {
  cursor: default;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: #5195FD;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.dispalay_none {
  display: none !important;
}

.login-page h1 {
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  padding: 15px;
}

.login-page__wrapper {
  display: flex;
  flex-flow: column;
}

.login-page__input::placeholder {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.login-page__input {
  background-color: transparent;
  color: white;
  border: 0;
  margin: 50px;
  width: 240px;
  text-align: center;
  font-size: 16px;
}

.login-page__send {
  background-color: #5195FD;
  border: 0;
  border-radius: 15px;
  padding: 20px;
  width: 240px;
  margin: 0 auto;
  text-transform: uppercase;
  transition: all .18s ease-in-out;
  font-size: 18px;
}

.login-page__send:hover {
  background-color: #4278cc;
  transition: all .12s ease-in-out;
}

.header,
.footer {
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #000;
  line-height: 50px;
  font-size: 14px;
}

.header {
  top: 0;
  color: #fff;
  text-align: center;
}

.chat {
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 0px;
  right: 0px;
  padding: 50px 0;
  overflow-y: visible;
  overflow-x: hidden;
  padding: 10px 20px;
}

.footer {
  bottom: 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 50px;
  padding: 0 5px;
}

.footer__input {
  width: 205px;
  color: #fff;
  background-color: #000;
  border: 0;
  padding: 10px 0;
}

.footer__input::placeholder {
  color: #fff;
  font-size: 14px;
}

.footer__send {
  background-color: #000;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  padding: 10px;
}

.message {
  display: flex;
  justify-content: flex-start;
  margin: 10px auto;
}

.message__block {
  min-height: 50px;
  min-width: 0px;
  border-radius: 15px;
  background-color: #fff;
  padding: 15px 30px 5px 20px;
}

.message__senderName {
  min-width: 80px;
  text-align: left;
  font-size: 14px;
  align-self: center;
  margin-right: 10px;
  font-weight: bold;
}

.message__senderMessage {
  text-align: left;
  word-wrap: break-word;
}

.message__senderDate {
  font-size: 14px;
  color: #AC8785;
  margin: 3px;
}

/* small ----------- */
@media only screen and (max-width: 430px) {
  .message {
    flex-flow: column;
  }
  .message__senderName {
    margin-bottom: 5px;
  }
}
