$default:  "Open Sans";

body {
  background-color: #5195FD;
  font-size: 70px;
}

.header,
.footer {
	position: fixed;
	left: 0;
	right: 0;
	height: 40px;
	background-color: #000;
	line-height: 40px;
	font-size: 20px;
}

.header {
	top: 0;
	color: #fff;
	text-align: center;
}

.chat {
	// display: flex;
	// align-items: flex-end;
	position: fixed;
	// margin: 0 auto;
	top: 40px;
	bottom: 40px;
	left: 0px;
	right: 0px;
	// width: 600px;
	// margin-left: 50%;
	// left: -300px;
	// padding: 40px 0;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	background-color: #fff;
}

.footer {
	bottom: 0;
	background-color: #000;
	color: #fff;
	text-align: center;
	line-height: 40px;
	&__input {
		width: 240px;
		color: #fff;
		background-color: #000;
		border: 0;
	}
	&__send {
		background-color: #000;
		color: #fff;
		border: 0;
		text-transform: uppercase;
	}
}

.message {
	display: flex;
	justify-content: flex-end;
	width: 600px;
	margin: 0 auto;
	&__senderName {
		flex: 1 1 50px;
	}
	&__senderMessage {
		flex: 1 1 50px;
	}
	&__senderDate {
		flex: 1 1 50px;
	}
}
