$default: 'Roboto', sans-serif;
$header_footer_height: 50px;

body {
  background-color: #5195FD;
  font-size: 20px;
  font-family: $default;
  background-image: url('../src/images/background.png');
  background-repeat: no-repeat;
  background-size: 1000px;
}

.dispalay_none {
	display: none !important;
}

.login-page h1 {
	color: #fff;
	font-size: 30px;
	text-align: center;
}
.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10;
	padding: 15px;
	&__wrapper {
		display: flex;
		flex-flow: column;
	}
	&__input::placeholder {
		color: #fff;
		text-transform: uppercase;
		text-align: center;
	}
	&__input {
		background-color: rgba(0, 0, 0, 0.0);
		color: white;
		border: 0;
		margin: 50px;
		width: 240px;
		text-align: center;
		font-size: 16px;
	}
	&__send {
		background-color: #5195FD;
		border: 0;
		border-radius: 15px;
		padding: 20px;
		width: 240px;
		margin: 0 auto;
		text-transform: uppercase;
		transition: all .18s ease-in-out;
		font-size: 18px;
	}
	&__send:hover {
		background-color: #4278cc;
		transition: all .12s ease-in-out;
	}
}

.header,
.footer {
	position: fixed;
	left: 0;
	right: 0;
	height: $header_footer_height;
	background-color: #000;
	line-height: $header_footer_height;
	font-size: 14px;
}

.header {
	top: 0;
	color: #fff;
	text-align: center;
}

.chat {
	position: fixed;
	top: $header_footer_height;
	bottom: $header_footer_height;
	left: 0px;
	right: 0px;
	padding: $header_footer_height 0;
	overflow-y: visible;
	overflow-x: hidden;
	padding: 10px;
}

.footer {
	bottom: 0;
	background-color: #000;
	color: #fff;
	text-align: center;
	line-height: $header_footer_height;
	padding: 0 5px;
	&__input {
		width: 205px;
		color: #fff;
		background-color: #000;
		border: 0;
		padding: 10px 0;
	}
	&__input::placeholder {
		color: #fff;
		font-size: 14px;
	}
	&__send {
		background-color: #000;
		color: #fff;
		border: 0;
		text-transform: uppercase;
		padding: 10px;
	}
}

.message {
	display: flex;
	justify-content: center;
	margin: 10px auto;
	&__wrapper {
		min-height: 50px;
		min-width: 0px;
		border-radius: 15px;
		background-color: #fff;
		padding: 15px 20px 5px 20px;
	}
	&__senderName {
		min-width: 100px;
		text-align: center;
		font-size: 14px;
		align-self: center;
		margin-right: 10px;
		font-weight: bold;
	}
	&__senderMessage {
		text-align: left;
		word-wrap: break-word;
	}
	&__senderDate {
		font-size: 14px;
		color: #AC8785;
		margin: 3px;

	}
}
